body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.form-main {
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex: 100%;
}

.field {
  width: 48%;
  float: left;
}

.field:first-child {
  margin-right: 4%;
}

.top-nav {
  background-color: #343a40;
  height: 7vh;
}

.nav-link {
  color: white;
}

.profile-col {
  height: 93vh;
  /* border: dashed 2px blue; */
  background-color: #fff;
  padding: 0;
}

.profile-info {
  /* height: 50%; */
  /* border: dashed 2px green; */
  padding: 0;
}

.profile-pic {
  /* height: 90%; */
  /* border: dashed 2px blue; */
  padding: 0;
}

.profile-pic>img {
  width: 100%;
  padding: 10px;
  border-radius: 100%;
}

.profile-name {
  height: 10%;
  /* border: dashed 2px blue */
}

.profile-menu {
  /* height: 50%; */
  margin-top: 30px;
  /* border: dashed 2px red */
}

.profile-nav>a {
  color: #212529;
  padding: 0;
}

.feed-col {
  height: 93vh;
  overflow-y: scroll;
  background-color: #ececec;
  padding-top: 50px;
}

/*  POSTS  */

.create-post-div {
  width: 75%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
}

.create-post-btn {
  width: 100%;
  margin: 0;
  border-radius: 10px;
}

.post-div {
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  width: 75%;
}

.post-header {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-pic {
  float: left;
  width: 10%;
  border-radius: 50%;
}

.author-name {
  float: left;
  width: 90%;
  padding-left: 5px;
}

.author-name p:nth-child(2) {
  color: grey;
}

.content-div {
  padding-left: 30px;
  margin-bottom: 45px;
}

.react-div {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.react-div button {
  border: none;
  border-radius: 20px;
  width: 90%;
}

.like-div {
  text-align: center;
  float: left;
  width: 50%;
}

.comment-div {
  text-align: center;
  float: left;
  width: 50%;
}

.post-li {
  position: relative !important;
}

.del-post-btn {
  position: absolute !important;
  top: 0;
  right: 25%;
  padding: 0 2px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}

/* FRIENDS */

.friend-div {
  width: 80%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  display: flex;
  align-items: center;
}

.friend-pic {
  width: 20%;
  float: left;
  border: solid 1px #ececec;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-info {
  width: 50%;
  float: left;
}

.friend-fullname {}

.friend-username {
  color: gray;
}

.friend-del-btn-div {
  width: auto;
  float: left;
  text-align: center;
}

.friend-del-btn-div button {
  width: 100%;
  padding: 3px 10px !important;
  height: 30px !important;
}

/*  REQUESTS  */

.r-div {
  width: 80%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  display: flex;
  align-items: center;
}

.r-pic {
  width: 20%;
  float: left;
  border: solid 1px #ececec;
  border-radius: 50%;
  margin-right: 10px;
}

.r-info {
  width: 40%;
  float: left;
}

.r-fullname {}

.r-username {
  color: gray;
}

.r-actions-div {
  width: 30%;
}

.r-actions-div button {
  width: 100%;
  padding: 5px 3px !important;
}

/*    DEBUG    STUFF      */

.bor-red {
  border: dashed 2px red;
}