body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.form-main {
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex: 100%;
}

.field {
  width: 48%;
  float: left;
}

.field:first-child {
  margin-right: 4%;
}

.top-nav {
  background-color: #343a40;
  height: 7vh;
}

.nav-link {
  color: white;
}

.main {
  width: 100%;
  overflow: hidden;
}

.profile-col {
  height: 93vh;
  /* border: dashed 2px blue; */
  background-color: #fff;
  padding: 0;
  width: 15vw;
  float: left;
}

.profile-info {
  /* height: 50%; */
  /* border: dashed 2px green; */
  padding: 0;
}

.profile-pic {
  /* height: 90%; */
  /* border: dashed 2px blue; */
  padding: 15px;
}

.profile-pic>img {
  width: 100%;
  /* margin: 10px; */
  border: solid 1px #343a40;
  border-radius: 50%;
}

.profile-name {
  height: 10%;
  text-align: center;
  /* border: dashed 2px blue */
}

.profile-menu {
  /* height: 50%; */
  margin-top: 30px;
  /* border: dashed 2px red */
}

.profile-nav>a {
  color: #212529;
  padding: 0 0 5px 15%;
}

.feed-col {
  height: 93vh;
  overflow-y: scroll;
  background-color: #ececec;
  width: 85vw;
  float: left;
  padding: 0 2% 0 2%;
}

.feed-p-col, .posts-p-col {
  width: 60vw;
  float: left;
  padding-top: 10vh;
  padding: 10vh 5vw;
}

.feed-f-col {
  width: 20vw;
  height: 73vh;
  /* max-height: 93vh; */
  overflow-y: scroll;
  /* padding: 0 20px; */
  position: fixed;
  right: 20px;
  /* border: dashed 2px red; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  background-color: white;
  margin-top: 20vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed-f-col::-webkit-scrollbar {
  display: none;
}

/*  CHAT BAR  */

.c-col {
  /* width: 100%; */
  position: absolute;
  bottom: 0;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.c-friend-div {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.c-friend-pic {
  width: 20%;
  float: left;
  border: solid 1px #343a40;
  border-radius: 50%;
}

.c-friend-name {
  width: 70%;
  float: left;
  padding-left: 10px;
}

/*  POSTS  */

.create-post-div {
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
}

.no-p-msg {
  margin-top: 40px;
  text-align: center;
}

.no-f-r-msg {
  margin: 20px 0 30px 0;
  padding-left: 10%;
}

.create-post-btn {
  width: 100%;
  margin: 0;
  border-radius: 10px;
}

.post-div {
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
}

.post-header {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-pic {
  float: left;
  width: 10%;
  border: solid 1px #343a40;
  border-radius: 50%;
}

.author-name {
  float: left;
  width: 90%;
  padding-left: 5px;
}

.author-name p:nth-child(2) {
  color: grey;
}

.content-div {
  padding-left: 30px;
  margin-bottom: 45px;
}

.react-div {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.react-div button {
  border: none;
  border-radius: 20px;
  width: 90%;
}

.like-div {
  text-align: center;
  float: left;
  width: 50%;
}

.comment-div {
  text-align: center;
  float: left;
  width: 50%;
}

.post-li {
  position: relative !important;
}

.del-post-btn {
  position: absolute !important;
  top: 0;
  right: 0;
  padding: 0 2px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}

/* FRIENDS */

.r-col {
  width: 50%;
  float: left;
  padding: 0 10px;
}

.f-col {
  width: 50%;
  float: left;
  padding: 0 10px;
}

.friend-div {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 8px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  display: flex;
  align-items: center;
}

.friend-pic {
  width: 20%;
  float: left;
  border: solid 1px #343a40;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-info {
  width: 50%;
  float: left;
}

.friend-username {
  color: gray;
}

.friend-del-btn-div {
  width: auto;
  float: left;
  text-align: center;
}

.friend-del-btn-div button {
  width: 100%;
  padding: 3px 10px !important;
  height: 30px !important;
}

/*  REQUESTS  */

.r-div {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  border-bottom: solid 1px #afaeae;
  border-left: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
  display: flex;
  align-items: center;
}

.r-pic {
  width: 20%;
  float: left;
  border: solid 1px #343a40;
  border-radius: 50%;
  margin-right: 10px;
}

.r-info {
  width: 40%;
  float: left;
}

.r-username {
  color: gray;
}

.r-actions-div {
  width: 30%;
}

.r-actions-div button {
  width: 100%;
  padding: 5px 3px !important;
}

/* FRIEND SEARCH  */

.f-search-div {
  width: 100%;
}

.f-search-result {
  margin: 12px 10px;
}

/*    DEBUG    STUFF      */

.bor-red {
  border: dashed 2px red;
}